body
    margin: 0
    background: linear-gradient(90deg, #475272,#000,#475272)
    height: 100vh
    +flex(center,center)
    +Vscroll
    font:
        family: 'CeraPro'
a
    text-decoration: none
input,textarea
    box-sizing: border-box
    padding: 0 20px
    text-align: center
    &:focus
        outline: none
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
        -webkit-appearance: none
button
    padding: 0
    border: none
    font: inherit
    color: inherit
    background-color: transparent
    cursor: pointer
